
.login-container{
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
    margin: 10rem auto;
    background-color: #ededed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: glowing 2s infinite;
}




@keyframes glowing {
    0% {
      box-shadow: 0 0 30px #ff00bf; 
    }
    50% {
      box-shadow: 0 30px 30px #a200ff; 
    }
    50% {
        box-shadow: 0 30px 30px #0077ff; 
      }
    50% {
        box-shadow: 0 30px 30px #00ff62; 
      }
    100% {
      box-shadow: 0 0 30px #ff00bf; 
    }
  }

