.home-container{
    /* border: 1px solid black; */
    height: 600px;
    animation: glowing 1.5s infinite; 
    padding: 1.5rem;
    background-image: url('home wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
    

    
.user-img{
    width: 250px;
    margin: 0 0 0.5rem 0;
    border: 4px solid;
}


.home-items-container{
    display: grid;
    grid-template-columns: 1fr 2.5fr ;
}
.title-main{
    padding: 2rem;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
}
.persona{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}